.uni-lang-menu .mdc-button {
  min-width: 0 !important;
}

.uni-lang-menu .mdc-button__icon {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: auto !important;
}

.uni-lang-menu .mdc-button__icon svg {
  width: auto !important;
}

.uni-lang-menu .mdc-button__label,
.uni-lang-menu .mdc-menu-surface uni-text {
  margin-left: .5em !important;
}

.uni-lang-menu .mdc-button__label uni-text {
  color: #333 !important;
  text-transform: none !important;
}
