.uni-lang-menu .mdc-button {
  min-width: 0;
  padding-right: 2px;
}

.uni-lang-menu .mdc-deprecated-list-item__graphic {
  margin-right: 5px;
}

.uni-lang-menu .mdc-button__icon {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: auto !important;
}

.uni-lang-menu .mdc-button__icon svg {
  width: auto !important;
}

.uni-lang-menu .uni-space {
  margin-left: .5em;
}
