.uni-lang-menu .mdc-button {
  min-width: 0;
}

.uni-lang-menu .mdc-button .mdc-button__icon {
  margin-left: 0;
  margin-right: 0;
  width: auto;
}

.uni-lang-menu .mdc-button__label,
.uni-lang-menu uni-menu-surface-mat uni-text {
  margin-left: 5px;
}

.uni-lang-menu-label {
  color: #333;
  text-transform: none
}
